.sideBar {
    position: fixed;
    right: -258px;
    top: 0%;
    background: none;
    display: flex;
    transition: 850ms;
    height: 100%;
}
.sideBar.active {
    right: 0;
    transition: 250ms;
}

.fixMeDaddy {
    position: fixed;
    top: 0%;
    right: -8px;
    height: 4em;
    transition: 850ms;
}
.fixMeDaddy.somethingElse {
    right: 250px;
    transition: 250ms;
}

.side-menu {
    background-color: #060b26;
    width: 250px;
    height: 99.3%;
    display: flex;
    justify-content: center;
    border: solid rgb(236, 92, 224);
    border-right: none;
    background: rgb(62,62,62);
    background: linear-gradient(180deg, rgba(62,62,62,1) 0%, rgba(101,101,101,1) 50%, rgba(62,62,62,1) 100%);
    opacity: 0.99;
}

/* un hides side bar */
.side-menu.active {
    right: 0%;
    transition: 250ms;
}

.side-text {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 16px 8px 0px;
    list-style: none;
    height: 60px;
}

.side-text a {
    text-decoration: none;
    color: #f5f5f5;
    font-size: 18px;
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0px 16px;
    border-radius: 4px;
}

.side-text a:hover {
    background-color: #1a83ff;
}

.side-menu-items {
    width: 100%;
}

/* the X on the side bar close it */
.sidebar-toggle {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    padding-left: 20px;
    margin-top: -18px;
    align-items: center;
}

.basketContents {
    margin-top: -50px;
    margin-left: -34px;
    height: 89.8vh;
    width: 116%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.sendCheckout {
    width: 50%;
    margin-left: -30px;
    padding: 1.5em;
    color: white;
    border: none;
    background: none;
    background-image: url("../buttonBack.png");
    background-position: top;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.basketImg {
    width: 80%;
    margin: 1em 0 1em 0;
    box-shadow: 0 0 8px 0 rgb(0, 0, 0), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 1em;
}

span {
    margin-left: 16px;
}
