@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English&family=Lobster+Two&display=swap');

body {
  margin: 0%;
  padding: 0%;
  height: 100vh;
}

.fullContainer {
    width: 100%;
    height: 100%;
    outline: 1px solid skyblue;
    display: flex;
    justify-items: space-between;
}

.container {
    display: flex;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    justify-content: flex-start;
    align-content: space-between;
    align-items: center;
    background-image: url("background.png");
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.upper {
    width: 100%;
    text-align: center;
    border-bottom: solid white;
    border-radius: 100px;
    color: white;
    background-color: rgba(0, 0, 0, 0.458);
}

.top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.nav {
    display: flex;
}

.title {
    font-family: 'IM Fell English', serif;
    font-size: 4em;
    padding: 0.25em 1em;
    text-shadow: 0 0 3px #aa00ff;
}

.wheel {
    margin-top: 1em;
    margin-bottom: 1em;
    padding-top: 2em;
    max-width: 90vw;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.458);
    background-image: url("neonframe.png");
    background-position: center;
    background-size: 125.5% 223%;
    /* background-size: 124.5% 220%; */
    background-repeat: no-repeat;
    transform: rotate(180deg);
    z-index: 0;
  }
  
  .imageBox {
    transform: rotate(180deg);
    width: 24%;
    height: 27%;
    margin: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.458);
    border-radius: 10px;
    box-shadow: 0 0 8px 0 rgb(255, 255, 255), 0 6px 20px 0 rgb(255, 255, 255);
}

.wheelImages
{
    height: 15vh;
    max-width: 98%;
    box-shadow: 0 0 8px 0 rgb(0, 0, 0), 0 6px 20px 0 rgba(0, 0, 0, 0.561);
}
  
.wheelImages:hover{
    cursor: pointer;
    animation: grow 2s infinite;
}

.middleMessage {
  display: flex;
  justify-content: center;
  text-align: center;
  transform: rotate(180deg);
  font-family: 'IM Fell English', serif;
  font-size: 2em;
  width: 24%;
  height: 27%;
  align-items: center;
  margin: 0.5em;
  color: white;
  text-shadow: 0 0 3px #aa00ff;
}


.nav button {
    padding: 1.5em;
    color: white;
    border: none;
    background: none;
    background-image: url("buttonBack.png");
    background-position: top;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    transition: 0.2s;
}

.modalContent
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position:fixed;
    height: 80%;
    min-width: 20%;
    top:50%;
    left:50%;
    color: white;
    background: rgb(62,62,62);
    background: linear-gradient(180deg, rgba(62,62,62,1) 0%, rgba(101,101,101,1) 50%, rgba(62,62,62,1) 100%);
    opacity: 0.99;
    transform: translate(-50%,-50%);
    padding: 1em;
    border: solid rgb(99, 130, 223);
    border-radius: 1em;
    box-shadow: 0 0 8px 0 rgb(252, 12, 252), 0 6px 20px 0 rgba(11, 18, 231, 0.19);
}

.modalImg {
    height: 60%;
    box-shadow: 0 8px 8px 0 rgb(0, 0, 0), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 1em;
}

.modalContent button {
    width: 30%;
    padding: 1.5em;
    color: white;
    border: none;
    background: none;
    background-image: url("buttonBack.png");
    background-position: top;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.modalContent button:hover {
    animation: shake 0.5s infinite;
}

button:hover {
    cursor: pointer;
    color: rgb(43, 226, 156);
    transition: 0.2s;
}

.modalZ {
    position: fixed;
    top: 0%;
    left: 0%;
    width:100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.632);
}

.basket {
    margin-top: 0.75em;
    padding: 1em;
    color: rgb(255, 255, 255);
    border: solid rgb(236, 92, 224);
    border-radius: 100px 15px 15px 100px;
    border-right: none;
    background: rgb(2, 1, 10);
    transition: 0.2s;
}

.highZ {
  z-index: 1;
}

@keyframes grow {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}